@import "../../utils";
@import "../../mixins";

.landing {
  min-height: 100vh;
  display: flex;

  .skipbtn {
    position: absolute;
    overflow: hidden;
    padding: 0.5rem 1rem;
    z-index: 1;
    top: 10rem;
    left: 0;
    right: 0;
    max-width: max-content;
    margin-inline: auto;
    border: 0.1rem solid var(--clr-primary);
    border-radius: 100vw;
    font-size: inherit;
    color: var(--clr-primary);
    transform: translate3d(0, -100vh, 0);

    &:focus {
      transform: translate3d(0, 0, 0);
    }
  }

  .container {
    width: 100vw;
    display: flex;
    padding-left: 10vw;
    align-items: center;
    transition: opacity 1500ms ease, visibility 1500ms ease,
      transform 1000ms ease;

    .textwrapper {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      z-index: 1;

      h1 {
        color: var(--clr-primary);
        font-family: $ff-accent-1;
      }

      h2 {
        text-transform: uppercase;
        max-width: 16ch;
        padding-bottom: 2rem;
        font-weight: $fw-700;

        @include screen(medium) {
          padding-bottom: 1rem;
        }

        @include screen(small) {
          padding-bottom: 1.5rem;
        }

        & span {
          color: var(--clr-accent-5);
        }
      }

      .landingbtn {
        padding: 0.8rem 2rem;
        border-radius: 100vw;
        display: inline-block;
        text-decoration: none;
        color: var(--clr-primary);
        position: relative;
        z-index: 0;
        background: linear-gradient(
            140deg,
            var(--clr-accent-1) 40%,
            var(--clr-accent-4)
          )
          center / cover no-repeat;

        &::after {
          position: absolute;
          content: "";
          height: 100%;
          width: 100%;
          border-radius: 100vw;
          top: 0;
          left: 0;
          z-index: -1;
          opacity: 0;
          transition: opacity 700ms ease;
          background-color: var(--clr-accent-1);
        }

        &:hover,
        &:focus {
          &::after {
            opacity: 1;
          }
        }
      }
    }

    .img {
      user-select: none;
      position: absolute;
      filter: var(--clr-img);
      transform: rotate(-190deg);
      right: 0;
      max-width: 50vw;
      max-height: 80vh;
      opacity: 0.06;
      z-index: 0;
      overflow: hidden;
      margin-right: 1.25vw;

      @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (-o-min-device-pixel-ratio: 3/2),
        only screen and (min--moz-device-pixel-ratio: 1.5),
        only screen and (min-device-pixel-ratio: 1.5) {
        margin-right: 5vw;
      }

      text {
        fill: $clr-primary;
        font-size: 1rem;
        font-family: $ff-accent-1;
        transform: translateY(3.5px);

        &:nth-child(5) {
          transform: translateY(2px);
        }
      }
    }
  }
}
