@import "../../utils";
@import "../../mixins";

.card {
  min-width: 100%;
  box-shadow: 0 0 1rem hsla(0, 0%, 0%, 0.3);
  @media screen and (-webkit-max-device-pixel-ratio: 1) {
    cursor: pointer;
  }
  transform: perspective(100rem) rotateY(0) translateY(0);
  transform-style: preserve-3d;
  transition: transform 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
    box-shadow 350ms;

  &:nth-child(1) {
    background-color: var(--clr-accent-3);
  }
  &:nth-child(2) {
    background-color: var(--clr-accent-2);
  }
  &:nth-child(3) {
    background-color: var(--clr-accent-1);
  }
  &:nth-child(4) {
    background-color: var(--clr-accent-4);
  }
  &:nth-child(5) {
    background-color: var(--clr-accent-3);
  }
  &:nth-child(6) {
    background-color: var(--clr-accent-2);
  }

  &.flip {
    transform: rotateY(180deg);
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 0 1rem hsla(0, 0%, 0%, 0.2);
    }
  }

  .front,
  .back {
    overflow: hidden;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    outline: 0.5rem solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  @media screen and (-webkit-max-device-pixel-ratio: 1) {
    .back {
      transform: rotateY(180deg);
    }
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
    .back {
      transform: rotateY(180deg) translateZ(0.06rem);
    }
  }

  .img {
    filter: var(--clr-img);
  }

  .title,
  .text {
    color: var(--clr-primary);
    font-weight: $fw-300;
    text-align: center;
  }

  .title {
    padding-top: unquote("max(8vw, 7rem)");
  }

  .text {
    padding-inline: 5%;
  }
}
