@import "../../styles/utilities";
@import "../../styles/mixins";

.services {
  overflow: hidden;
  @include screen(large) {
    height: calc(100vh - 4rem);
  }
  @include screen(medium) {
    min-height: 300vh;
  }
  @include screen(small) {
    min-height: 210vh;
  }
  background: linear-gradient(140deg, var(--bg-primary), $bg-accent-3);

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10vw;

    @include screen(large) {
      transition: opacity 1500ms ease, visibility 1500ms ease,
        transform 1000ms ease;
    }
    @include screen(small, medium) {
      flex-direction: column;
      max-width: 100%;
    }

    .textwrapper {
      display: flex;
      flex-direction: column;
      min-width: 50%;
      justify-content: center;
      z-index: 2;
      @include screen(small, medium) {
        max-width: 100%;
        padding: 10vw 5vw 10vw 0;
      }
      h2 {
        min-width: 15ch;
      }
      p {
        font-size: clamp(1.1125rem, 2vw - 0.5rem, 1.2125rem);
        &:nth-child(2) {
          max-width: 76ch;
          padding-top: 1rem;
          font-weight: $fw-700;
        }
        &:nth-child(3) {
          max-width: 67ch;
          padding-top: 1rem;
        }
        &:nth-child(3) > span {
          font-style: italic;
        }
        &:nth-child(4) {
          max-width: 50ch;
          padding: 1rem 0;
        }
      }
    }

    .cardwrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      z-index: 0;
      min-width: 50%;
      min-height: 95vh;
      margin-left: 4vw;
      @include screen(small, medium) {
        margin-left: 0;
        padding: 0 10vw 10vw 0;
      }
      @include screen(small) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 25%);
      }
      @include screen(medium) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 55%);
      }
      @include screen(large) {
        min-width: 45%;
        transform-origin: top;
        transform: rotate(3deg);
      }
    }
  }
}

@include screen(large) {
  .hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10vh);
  }
  .visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
