.light-theme {
  --clr-primary: #000000;
  --clr-accent-1: #c0e5fe;
  --clr-accent-2: #90ccfe;
  --clr-accent-3: #60b2fe;
  --clr-accent-4: #3099fe;
  --clr-accent-5: #3099fe;
  --clr-img: invert(100%);
  --bg-html: #3099fe;
  --bg-navbar: #3099fe;
  --landing-bg: url(../src/img/light-polygon.svg);
  --ff-accent-1: "Whisper", cursive;
}

.dark-theme {
  --clr-primary: #f0fffe;
  --clr-accent-1: #003366;
  --clr-accent-2: #02234d;
  --clr-accent-3: #2b0933;
  --clr-accent-4: #030f33;
  --clr-accent-5: #003366;
  --clr-img: invert(0%);
  --bg-html: #030f33;
  --bg-navbar: #030f33;
  --landing-bg: url(../src/img/dark-polygon.svg);
  --ff-accent-1: "Whisper", cursive;
}
