$ff-primary: "Raleway", sans-serif;
$ff-accent-1: "Whisper", cursive;

$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

$clr-primary: hsl(0, 0%, 100%);
$clr-primary-2: hsl(0, 0%, 0%);
$clr-accent-1: hsl(0, 0%, 90%);
$clr-accent-2: hsl(274, 100%, 52%);
$clr-accent-3: hsl(274, 94%, 45%);
$clr-accent-4: hsl(274, 94%, 39%);
$clr-accent-5: hsl(274, 93%, 33%);
$clr-accent-6: hsl(274, 93%, 27%);
$clr-accent-7: hsl(274, 92%, 21%);

$bg-accent-1: hsl(225, 51%, 18%);
$bg-accent-2: hsl(193, 98%, 21%);
$bg-accent-3: hsl(203, 97%, 26%);
$bg-accent-4: hsl(189, 96%, 30%);
